<div class="sidenav {{ ('larger' if not file_content else '') }}">
    <a href="{{ url_for('results.browse_files', req_path=previous_directory) }}">../</a>
    {% for file in files %}
    <a
        href="{{ (request.path + '/' if not request.path.endswith('/') else '') + (file if not file_content else '') }}">
        {{ (link_content + '/' if not request.path.endswith('/') else '') + (file if not file_content else '') }}
    </a>
    {% endfor %}
</div>




{% if file_content %}
<div class="row">
    <div class="col-md-8">
        <pre><code id="sourcecode" class="{{file_type}}">{{file_content}}</code></pre>
    </div>
</div>

<script>
hljs.highlightAll();
</script>
{% endif %}